on:
  push:
    branches:
    - main
    - alpha
    - beta
    - next

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v6
      with:
        node-version: '24.x'
    - run: yarn
    - run: yarn build
