on:
  push:
    branches:
    - main
    - alpha
    - beta
    - next

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        cache: 'yarn'

    - run: yarn
    - run: yarn build
    - run: yarn test

    - run: |
        git config --local user.email "plutotcool+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"

    - run: yarn release --conventional-graduate --registry https://registry.npmjs.org
      if: ${{ github.ref_name == 'main' }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: yarn release --conventional-prerelease --preid $GITHUB_REF_NAME --registry https://registry.npmjs.org
      if: ${{ github.ref_name != 'main' }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: |
        npm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}

    - run: yarn release --conventional-graduate --registry https://npm.pkg.github.com
      if: ${{ github.ref_name == 'main' }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: yarn release --conventional-prerelease --preid $GITHUB_REF_NAME --registry https://npm.pkg.github.com
      if: ${{ github.ref_name != 'main' }}
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
